Django==4.2.7
djangorestframework==3.14.0  # Za buduće API, opciono
Pillow==10.3.0  # Kompatibilna verzija za Python 3.13
gunicorn==21.2.0  # Za Render deployment
whitenoise==6.6.0  # Za static fajlove
